* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* tipografia */
h1 {
  font-weight: 900;
  letter-spacing: -2px;
  margin: 5px;
}

/* cabecalho */

header {
  background: url(../img/fundocabecalho.png) no-repeat top right #000;
  border-bottom: 15px ridge rgb(237, 50, 55);
  min-width: 350px;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
  padding: 10px;
}

#logocabecalho {
  padding: 5px 10px;
}

#logocabecalho img {
  width: 200px;
}

/* menu */

#cabecalho .container {
  align-items: center;
  justify-content: space-between;
}

#cabecalho .menu ul {
  list-style: none;
  margin: 8px;
}

#cabecalho .menu ul li {
  display: inline;
  margin-left: 5px;
  padding: 5px;
}

#cabecalho .menu ul li a {
  border-radius: 5px;
  color: #fff;
  padding: 2px 8px;
  text-decoration: none;
  text-transform: capitalize;
}

#cabecalho .menu ul li a:hover {
  opacity: 0.6;
}

/* texto digitado js */
#text {
  font-size: 1.5em;
}

/* corpo */

#apresentacao {
  padding: 10px;
}

.bordas,
section.bordas {
  border-top: 15px ridge rgb(237, 50, 55);
  border-bottom: 15px ridge rgb(237, 50, 55);
}

#apresentacao .container {
  background: #f1f1f1;
  box-shadow: 1px 1px 3px #000;
  display: block;
  margin: 0 auto;
}

#apresentacao .container .perfil img {
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgb(237, 50, 55);
  display: flex;
  margin: 0 auto;
  padding: 5px;
  width: 200px;
}

#apresentacaodados {
  justify-content: center;
  margin-top: 10px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

#apresentacaodados h2 {
  font-size: 2rem;
}
#apresentacaodados p {
  font-size: 1.5rem;
}

#apresentacao .redes {
  margin: 15px;
  text-align: center;
}

#apresentacao .redes a {
  color: #000;
  font-size: 30px;
  margin: 0 5px;
  padding: 5px;
  text-align: center;
  width: 100px;
}

#apresentacao .redes a:hover {
  background: #000;
  border-radius: 50%;
  color: #fff;
  transition: 0.8s;
}

/* trabalhos */

.trabalhos {
  background-color: #000;
}

.trabalhos > h1 {
  color: #fff;
  letter-spacing: 0.8rem;
  margin-bottom: 30px;
  padding-top: 10px;
  text-align: center;
}

.trabalhos .container .projetos {
  background: #fff;
  border-radius: 10px;
  color: #000;
  margin: 5px 10px;
  padding: 5px 10px;
  text-align: center;
  width: 280px;
}

.projetos:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in;
}

.projetos img {
  filter: blur(3px);
  width: 80%;
}

.projetos img:hover {
  filter: blur(0px);
  transition: 1s;
}

/* rodape */

#rodape {
  background: #000;
  border-top: 15px ridge rgb(237, 50, 55);
  color: #fff;
  padding: 5px;
  /*  display: flex;
  flex-wrap: wrap; */
}

#rodape .container {
  align-items: center;
}

#rodape .container div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

#rodape .container img {
  width: 150px;
}

#rodape .redes a {
  box-shadow: 2px 2px 4px red;
  color: #fff;
  font-size: 1.6em;
  margin: 10px;
  padding: 5px;
}

#rodape .redes a:hover {
  color: rgb(237, 50, 55);
  border-radius: 50%;
  transition: 0.6s;
}

/* formulario */
#rodape #contato {
  background: url(../img/AT_CONTATO.png) no-repeat left bottom;
  box-shadow: 2px 2px 4px red;
  margin: 0 auto;
  padding: 10px;
  width: 350px;
}

#contato form {
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

#contato form input,
textarea {
  align-items: center;
  border-radius: 10px;
  display: block;
  height: 15px;
  margin: 6px auto;
  padding: 5px 15px;
  padding-left: 50px;
  text-align: right;
  width: 200px;
}

#contato label {
  font-size: 0.8rem;
  margin: 0 20px;
  padding: 5px 20px;
}

#contato .botao {
  background: #000;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 4px 2px red;
  color: red;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 900;
  height: 50px;
  margin: 0px auto 10px auto;
  padding: 5px 0;
  position: relative;
  text-align: center;
  transition: all 1s;
  width: 200px;
}
#contato .botao:hover {
  background: linear-gradient(15deg, rgb(255, 65, 65), red);
  color: #000;
}
#contato .botao i {
  left: 25px;
  padding: 5px;
  position: absolute;
}

.inputicon {
  padding: 5px;
  position: relative;
}

.inputicon i {
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.397);
  color: #000;
  left: 50px;
  padding: 9px;
  position: absolute;
  top: 30px;
  width: 20px;
}

/* tamanho media */

@media (max-width: 700px) {
  header {
    background: url(../img/fundotopopeq.png) no-repeat right top #000;
    border-bottom: 10px ridge rgb(237, 50, 55);
  }

  #logocabecalho img {
    width: 120px;
  }
  .projetos:hover {
    transform: scale(1);
  }
  .projetos img {
    filter: none;
  }

  #rodape .container {
    flex-direction: column;
  }
}
